:root {
  --clr-primary: #274b49;
  --clr-secondary: #008574;
  --clr-text: #7a7a7a;
  --clr-accent: #2fe5cf;
  --clr-light-blue: #51e5ff;
  --clr-dark-blue: #263961;
  --clr-blue: #0178d4;
  --clr-white: white;
  --ff-primary: "Helvetica";

  --fs-200: 0.75rem;
  --fs-300: 0.0875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("fonts/segmdl2/SEGMDL2.eot") format("embedded-opentype"),
    url("fonts/segmdl2/SEGMDL2.woff2") format("woff2"),
    url("fonts/segmdl2/SEGMDL2.woff") format("woff"),
    url("fonts/segmdl2/SEGMDL2.ttf") format("truetype");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  font: 17px/1.4 "Segoe UI", Segoe, Verdana, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header__top-content {
  display: flex;
  height: 90px;
  padding: 1rem;
  justify-content: space-between;
}

.header__logo {
  height: 100%;
}

.header__logo-microsoft {
  padding: 1rem;

}

.header__bottom {
  display: grid;
  max-height: 500px;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--e-clr-primary);
}

.header__bottom_text-wrap {
  display: flex;
  flex-direction: column;
  grid-column: 2/ 3;
  align-self: center;
  justify-self: start;
  text-align: left;
}

.header__bottom-img {
  width: 50%;
  grid-row: 1/2;
  grid-column: 3/ 6;
  object-fit: cover;
  justify-self: end;
}

.header__bottom-title {
  font-size: 3rem;
  font-weight: 500;
}

.header__bottom-desc {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.hero-description {
  margin: 3rem auto;
  text-align: center;
}

.hero-description-subtitle {
  margin: 1rem 0;
}

.risks__title {
  text-align: center;
  margin-bottom: 2rem;
}

.risks__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-bottom: 1rem;
  gap: 2rem;
}

.risks__card-overlay {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr;
}

.risks__card-img {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  aspect-ratio: 3.5/2;
  object-fit: cover;
}

.risks__card-title {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 2rem;
}

.risks__card-text {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  font-size: 3.5rem;
  line-height: 1;
}

.risks__card:nth-child(2) > *:first-child > .risks__card-text > *:last-child {
  margin-left: -1rem;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.3rem;
}

.risks__footnote {
  margin-top: 4rem;
}

.confidence {
  margin-top: 2rem;
}
.confidence__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.confidence__content-description {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

.confidence__buttons {
  display: flex;
  gap: 0.5rem;
}

.confidence__button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: white;
  font-weight: 600;
}

.confidence__button > i {
  font-weight: 300;
  font-size: 13px;
}

.software-piracy {
  margin-top: 2rem;
  text-align: center;
}

.software-piracy__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.software-piracy__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.software-piracy__tab {
  display: flex;
  margin-top: 2rem;
}

.software-piracy__tab-icon {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.software-piracy__tab-description {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  background-color: var(--clr-primary);
}

.verify {
  display: flex;
  padding: 4rem;
  margin: 4rem 0;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-primary);
  text-align: center;
  color: white;
}

.verify-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 0 auto;
  gap: 3rem;
}

.verify-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.verify-card__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.genuine-software {
  display: flex;
  margin: 4rem 0;
  flex-direction: column;
  text-align: center;
}

.genuine-software__cards {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}

.genuine-software__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.genuine-software__card-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swiper {
  width: 60%;
  height: 600px;
}

.swiper-slide {
  width: 30%;
  padding: 0 6rem;
}

.swiper-slide__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.swiper-slide__desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: var(--clr-primary);
}

.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 250px;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.carousel-card {
  margin: auto;
  background-color: #274b47;
  width: 400px;
  height: 50%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
  text-align: left;
}
.carousel-card img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  padding-top: 0;
}
.carousel-card h4 {
  background-color: #274b47;
  color: #fff;
  margin-top: 4%;
  margin-left: 20px;
  max-width: 100%;
  justify-content: center;
  align-content: left;
}
.carousel-card p {
  background-color: #274b47;
  color: #fff;
  margin-top: 1%;
  margin-left: 20px;
  max-width: 80%;
  justify-content: center;
  align-content: center;
}

.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  margin-left: 27.5%;
  margin-right: 27.5%;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 0.3s ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
  width: 60px;
  height: 60px;
  justify-content: center;
}
.glide__arrow i {
  width: 20px;
}
.glide__arrow:focus {
  outline: 0;
}
.glide__arrow:hover {
  border-color: #fff;
}
.glide__arrow--left {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2em;
  background-color: #274b47;
}
.glide__arrow--left i {
  width: 20px;
}
.glide__arrow--right {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2em;
  background-color: #274b47;
}

.glide__arrow--right i {
  width: 20px;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: 0;
}
.glide__bullet:focus,
.glide__bullet:hover {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: #fff;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 200px;
  width: 100%;
  padding: 2rem;
  color: white;
  background-color: var(--clr-primary);
}

@media (max-width: 50em) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  .header__bottom {
    grid-template-columns: 1fr;
  }

  .header__bottom_text-wrap {
    grid-row: 1/-1;
    grid-column: 1/ -1;
    align-self: center;
    justify-self: start;
    text-align: center;
  }

  .header__bottom-img {
    width: 100%;
    opacity: 0.1;
    grid-row: 1/-1;
    grid-column: 1/ -1;
    object-fit: cover;
    justify-self: end;
  }

  .confidence__content {
    grid-template-columns: 1fr;
  }

  .risks__title {
    margin-bottom: 1rem;
  }

  .software-piracy__tabs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .software-piracy__tab {
    display: flex;
    margin-top: 2rem;
  }
  .software-piracy__tab-icon {
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .glide__arrow {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width: 700px) {
  .glide__arrow {
    margin-left: -3%;
    margin-right: -3%;
  }
}

/*utility classes */

.text-primary {
  color: var(--clr-primary);
}

.text-accent {
  color: var(--clr-accent);
}

.text-white {
  color: var(--clr-white);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-light-blue {
  background-color: var(--clr-light-blue);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}
